{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block main %}

    <section>
        <h1>Armar tu PC</h1>
        {{ dump(data.actual) }}
        <section>
            <aside>
                {% for paso in data.pasos %}
                <a href="/arma-tu-pc?paso={{ paso.id }}">{{ paso.descripcion }}</a>
                {% endfor %}
            </aside>
            <section>
                {% for producto in data.productos %}
                    <a href="/arma-tu-pc?paso={{ data.actual.id }}&producto={{ producto.id }}">{{ producto.descripcion }}</a>
                {% endfor %}
            </section>
        </section>
    </section>

{% endblock %}