{% extends "parts/commons.twig" %}

{% block head %}
{% endblock %}

{% block main %}

    <section>
        <h1>Armar tu PC</h1>
        <section class="productos">
            <aside>
                {% for paso in data.pasos %}
                    {% if paso.id != data.actual.id %}
                <a href="/arma-tu-pc?paso={{ paso.id }}">{{ paso.descripcion }}</a>
                    {% else %}
                <p>{{ paso.descripcion }}</p>
                    {% endif %}
                {% endfor %}
            </aside>
            <section>
                {% for producto in data.productos %}
                    <article>
                        <h2>{{ producto.producto.descripcion }}</h2>
                        <p>$ {{ producto.precio_unidad }}</p>
                        <a class="agregar" href="/arma-tu-pc?paso={{ data.actual.id }}&producto={{ producto.id }}">Agregar</a>
                    </article>
                {% endfor %}
            </section>
        </section>
    </section>

{% endblock %}