{% extends "parts/backoffice.twig" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/styles/backoffice.grid.css" />
{% endblock %}

{% block main %}

    <section>
        {% if data %}
            <h1>{{ attribute(data, "table-title") }}</h1>
{#            {{ dump(attribute(data, "fields")) }}#}
            <form action='{{ attribute(data, "insert-url") }}' method="GET">
                <h3>{{ attribute(attribute(data, "register"),"title") |capitalize }}</h3>
                {% for field in attribute(data, "fields") %}
                    {% if attribute(field, "name") != "id" %}
                <label for="{{ field.id }}">{{ attribute(field, "name") |capitalize }}:
                        {% if attribute(field, "type") == "text" %}
                        <input type="text" name="abm-{{ field.id }}" id="abm-{{ field.id }}" value="{{ attribute(attribute(data, "tuple"), attribute(field, "name")) }}"{% if field.required == true %} required {% endif %}>
                        {% elseif attribute(field, "type") == "select" %}
                        <select name="abm-{{ field.id }}" id="abm-{{ field.id }}">
                            <option></option>
                            {% for option in attribute(field, "options") %}
                                <option value="{{ option.value }}" {% if attribute(attribute(data, "tuple"), attribute(field, "name")) == option.value %} selected {% endif %}>{{ option.description }}</option>
                            {% endfor %}
                        </select>
                        {% elseif attribute(field, "type") == "file" %}
                        <input type="file" name="abm-{{ field.id }}" id="abm-{{ field.id }}" {% if field.required == true %} required {% endif %}>
                        {% else %}
                        <input type="text" name="abm-{{ field.id }}" id="abm-{{ field.id }}" {% if field.required == true %} required {% endif %}>
                        {% endif %}
                    {% else %}
                        {% if attribute(attribute(data, "tuple"), attribute(field, "name")) is defined and attribute(attribute(data, "tuple"), attribute(field, "name")) is not null and attribute(attribute(data, "tuple"), attribute(field, "name")) != "" %}
                            <input type="hidden" name="abm-{{ field.id }}" id="abm-{{ field.id }}" value="{{ attribute(attribute(data, "tuple"), attribute(field, "name")) }}" readonly>
                        {% endif %}
                    {% endif %}
                </label>
                {% endfor %}
                <button id="btn-alta" type="submit">Registrar</button>
            </form>
        {% endif %}
    </section>

{% endblock %}


{% block outerHtml %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            //abm.agregarActionFormAltas('{{ attribute(data, "register-url") }}');
        });
    </script>
{% endblock %}