{% extends "parts/backoffice.twig" %}

{% block head %}
{% endblock %}

{% block main %}
    <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
    <section>
        {% if data %}
{#            {{ dump(data) }}#}
            <h1>{{ attribute(data, "table-title") }}</h1>
        <a>Agregar</a>
        <table>
            <thead>
            <tr>
                {% for field in data.fields %}
                <th scope="col">{{ field.name |capitalize }}</th>
                {% endfor %}
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
{#                {{ dump(data.tuples) }}#}
                {% for tuple in data.tuples %}
                <tr>
                    {% for field in data.fields %}
                        {% if field.type == "text" %}
                    <th scope="col">{{ attribute(attribute(tuple, attribute(field, "id")),"description")|capitalize   }}</th>
                        {% elseif field.type == "button-add" %}
                    <th><a href=" {{ attribute(tuple, field.id).href }} " class="button-add">Agregar</a></th>
                        {% else %}
                    <th scope="col">{{ attribute(attribute(tuple, attribute(field, "id")),"description")|capitalize   }}</th>
                        {% endif %}
                    {% endfor %}
                    <th scope="col">
                        <button id="editar-{{ attribute(attribute(tuple, "id"),"value") }}">Editar</button>
                        <button id="eliminar-{{ attribute(attribute(tuple, "id"),"value") }}">Eliminar</button>
                    </th>
                </tr>
                <script>
                    abm.agregarLinks('{{ attribute(data, "item-url") }}?id={{ attribute(attribute(tuple, "id"),"value") }}', '{{ attribute(attribute(tuple, "id"),"value") }}');
                </script>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>

{% endblock %}


{% block outerHtml %}
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        abm.agregarBotonAgregar('{{ attribute(data, "item-url") }}');
    });
    </script>
{% endblock %}