{% extends "parts/commons.twig" %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/buscador.css" />
{% endblock %}

{% block main %}
  
    <section>
    <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
        <h1>Resultados de la búsqueda</h1>
    {% for publicacion in data.publicaciones %}
        <article>
            <figure>
                {% for foto in publicacion.fotografias %}
                    <picture>
                        <img src="{{ foto.url }}" alt="{{ publicacion.producto.descripcion }}" width="250" height="100">
                    </picture>
                {% else %}
                    <picture>
                        <img class="imagenes" src="img/no-picture.svg" alt="Imagen no encontrada">
                    </picture>
                {% endfor %}
            </figure>
            <h2>{{ publicacion.producto.nombre }}</h2>
            <p>{{ publicacion.precio_unidad }} {{ publicacion.moneda.nombre }}</p>
            <a href="/detalleproducto?publicacion={{ publicacion.id }}" id="verMas">Ver en Detalle</a><br>
            <a class="agregar" href="/carrito?publicacion_id={{ publicacion.id }}">Agregar</a>

        </article>
    {% else %}
        <p class="noEncontrado">No se ha encontrado productos</p>
    {% endfor %}
    </section>

{% endblock %}
{% block footer %}

{% endblock %}