{% extends "parts/commons.twig" %}

{% block head %}
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
    <link rel="stylesheet" type="text/css" href="css/carrito.css" />
    <script src="/js/scripts/carrito.js" ></script>
{% endblock %}

{% block main %}

    <section>
    <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
        <a href="/carrito-cancelar" class="btn-cancelar">Cancelar compra</a>
        <a href="/pagar" class="btn-pagar"> Pagar </a>
        <h1>Carrito</h1>
        {% for publicacion in data.publicaciones %}
            <article class="productos" id="productos">
                <picture>
                    <img src="fotografia_producto.url" class="imgArticulo" alt="{{ publicacion.producto.nombre }}" >
                </picture>
                <h2>{{ publicacion.productos[0].nombre }}</h2>  <!-- <h2>{{ publicacion.productos[0].nombre }}</h2>-->
                <p>Precio: {{ publicacion.precio_unidad }} {{ publicacion.moneda.nombre }}</p>
                <button class="button-delete" id="eliminar-{{ attribute(attribute(publicacion, "id"),"value") }}">Eliminar artículo</button>
            </article>

    {% for carrito in data.carrito %}
        <p>{{ carrito.precio_total}}</p>  <!--Mostrar la suma de los precios de los productos-->
    {% else %}
    {% endfor %}

    </section>
            
    {% else %}
        <span class="carritoVacio">Su carrito está vacio</span>
        
        <span class="seguirCompra">Para seguir comprando, navegue por las categorías en el sitio, o busque su producto.</span>
        <a href="/grupocategorias" class="inicio">Seguir comprando</a>
    {% endfor %}

    
{% endblock %}


