{% extends "parts/commons.twig" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <link rel="stylesheet" type="text/css" href="css/carrito.css" />
    <script src="/js/scripts/carrito.js" ></script>
    <script src="/js/scripts/botonMercadoPago.js" ></script>
    <script src="/js/constants/constantsMercadoPago.js" ></script>
{% endblock %}

{% block main %}
    <script>
        function deleteItem(id) {
            fetch(
                "/deleteItem?publicationId=" + id,
                {
                    method: "POST"
                }
            ).then(
                //location.reload("");
            )
        }
    </script>

    <section>
        <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
        <div class="btn-pagar">
            <div id="checkout-btn"></div>
            <div id="wallet_container"></div>
        </div>
        <a href="/carrito-cancelar" class="btn-cancelar">Cancelar compra</a>
        <h1>Carrito</h1>
        {% for publicacion in data.publicaciones %}
            <article class="productos" id="productos">
                <picture>
                    <img src="fotografia_producto.url" class="imgArticulo" alt="{{ publicacion.producto.nombre }}" >
                </picture>
                <h2>{{ publicacion.productos[0].nombre }}</h2>  <!-- <h2>{{ publicacion.productos[0].nombre }}</h2>-->
                <p>Precio: {{ publicacion.precio_unidad }} {{ publicacion.moneda.nombre }}</p>
                <button class="button-delete" id="eliminar-{{ attribute(attribute(publicacion, "id"),"value") }}"
                    onclick="deleteItem({{publicacion.id}})"
                >Eliminar artículo</button>
            </article>

    {% for carrito in data.carrito %}
        <p>{{ carrito.precio_total}}</p>  <!--Mostrar la suma de los precios de los productos-->
    {% else %}
    {% endfor %}

    </section>
            
    {% else %}
        <span class="carritoVacio">Su carrito está vacio</span>
        
        <span class="seguirCompra">Para seguir comprando, navegue por las categorías en el sitio, o busque su producto.</span>
        <a href="/grupocategorias" class="inicio">Seguir comprando</a>
    {% endfor %}
    <script>
        // Add SDK credentials
        // REPLACE WITH YOUR PUBLIC KEY AVAILABLE IN: https://developers.mercadopago.com/panel
        const mercadopago = new MercadoPago("TEST-f56f02f5-73fc-44cc-9fcc-aad3bb74c83a", {
            locale: locale // The most common are: 'pt-BR', 'es-AR' and 'en-US'
        });
        button.init(mercadopago);
        
        // Handle call to backend and generate preference.
        $('#checkout-btn').attr("disabled", true);

        fetch("http://localhost:12000/create_preference", {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            }
        })
            .then(function (response) {
            return response.json();
            })
            .then(function (preference) {
            createCheckoutButton(preference.id);

            $(".shopping-cart").fadeOut(500);
            setTimeout(() => {
                $(".container_payment").show(500).fadeIn();
            }, 500);
            })
            .catch(function () {
            alert("Unexpected error");
            $('#checkout-btn').attr("disabled", false);
            });

        function createCheckoutButton(preferenceId) {
        // Initialize the checkout
        const bricksBuilder = mercadopago.bricks();

        const renderComponent = async (bricksBuilder) => {
            if (window.checkoutButton) window.checkoutButton.unmount();
            await bricksBuilder.create(
            'wallet',
            'checkout-btn', // class/id where the payment button will be displayed
            {
                initialization: {
                preferenceId: preferenceId
                },
                callbacks: {
                onError: (error) => console.error(error),
                onReady: () => {}
                }
            }
            );
        };
        window.checkoutButton =  renderComponent(bricksBuilder);
        }


    </script>
    <script>


        // const mp = new MercadoPago('APP_USR-ff96fe80-6866-4888-847e-c69250754d38');
        // const bricksBuilder = mp.bricks();
        // mp.bricks().create("wallet", "wallet_container", {
        //     initialization: {
        //         preferenceId: "{{ data.preference.id }}",
        //     },
        // });

    </script>
{% endblock %}


