{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<h1>Categorias</h1>

    {% for categoria in data.categorias %}  

    <!--
    {% if grupo_categoria.id != data.actual.id %}
        <a href="/categoria?categoria={{ categoria.id}}">{{ categoria.descripcion }}</a>
            {% else %}
         <p>{{ categoria.descripcion }}</p>
     {% endif %}
    -->

        <a class="categorias" href="/subcategoria" title="{{categoria.descripcion}}">{{categoria.descripcion}}</a>
    {% else %}

        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    
{% endblock %}



