{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/detalleproducto.css" />
    <script src="/js/scripts/detalleproducto.js" ></script>
{% endblock %}

{% block main %}
    {% for publicacion in data.publicacion %}

    {% for producto in publicacion.productos %}
        <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
        <h1 class="detalle">Detalles del producto</h1>
        <p class="nombre">{{ producto.nombre}}</p>
        <section class="product-details">
            <section class="image-section">
                {% for foto in publicacion.fotografias %}
                    <picture id="img-{{ foto.id }}" class="hidden">
                        <img src="{{ foto.url }}" class="imgproducto" id="myimage" alt="{{ publicacion.producto.descripcion }}">
                    </picture>
                {% else %}
                    <picture>
                        <img  id="img-0" class="imgproducto" src="img/no-picture.svg" alt="Imagen no encontrada">
                    </picture>
                {% endfor %}
                <section>
                    <picture>
                        {% for foto in publicacion.fotografias %}
                            <picture id="preview-{{ foto.id }}" >
                                <img src="{{ foto.url }}" alt="{{ publicacion.producto.descripcion }}">
                            </picture>
                        {% else %}
                            <picture id="preview-0" >
                                <img src="img/no-picture.svg" alt="Imagen no encontrada">
                            </picture>
                        {% endfor %}
                    </picture>
                </section>
            </section>
            <section class="detalleDescrip">
                   <!-- <img class="imgproducto" src="documentos/computadoras/1.jpg" alt="{{ publicacion.producto.descripcion }}"> -->
                    <p class="zoom">Zoom de image</p>
                    <div id="myresult" class="img-zoom-result"></div>
                        <script>imageZoom("myimage", "myresult");</script>
                    <p class="descripTitulo" >Descripción</p>
                    <p class="descripcion">{{ producto.descripcion}}</p>
                    <p class="precio">Precio {{ publicacion.precio_unidad}} {{ publicacion.moneda.nombre }}</p>

                    {% for oferta in data.ofertas %}
                        <p>AHORA  {{oferta.precio_oferta}} {{oferta.moneda.nombre}} </p>
                    {% else %}

                    {% endfor %}
                {% endfor %}
                <a class="agregar" id="addToCart-{{ publicacion.id }}">Agregar</a>
                <a class="categorias" href="/subcategoria?categoria={{categoria.id_grupo_categoria}}" title="{{categoria.descripcion}}">{{categoria.descripcion}}</a>
            {% else %}
                <p>{{ categoria.descripcion }}</p>
            {% endfor %}
            </section>
        </section>

{% endblock %}

{% block footer %}
    <section  class="footer1">
        <img src="img/camion.png"  class="camion" alt="Envios">
        <p>Envío GRATIS a Capital Federal</p>
    </section>
    <section class="footer">
        <img src="img/tienda.png"  class="tienda" alt="Entrega">
        <p>Entrega estimada 8 días hábiles</p>
    </section>
{% endblock %}

