{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/detalleproducto.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
<h1 class="detalle">Detalles del producto</h1>
        <section class="detalleDescrip">

            {% for publicacion in data.publicacion %}

                {% for producto in publicacion.productos %}
                    <p class="nombre">{{ producto.nombre}}</p>

                    {% for foto in publicacion.fotografias %}
                        <picture>
                            <img src="{{ foto.url }}" class="imgproducto" alt="{{ publicacion.producto.descripcion }}">
                        </picture>
                    {% else %}
                        <picture>
                            <img class="imgproducto" src="img/no-picture.svg" alt="Imagen no encontrada">
                        </picture>
                    {% endfor %}

                   <!-- <img class="imgproducto" src="documentos/computadoras/1.jpg" alt="{{ publicacion.producto.descripcion }}"> -->
                    <p class="descripTitulo" >Descripción</p>
                    <p class="descripcion">{{ producto.descripcion}}</p>
                    <p class="precio">Precio {{ publicacion.precio_unidad}} {{ publicacion.moneda.nombre }}</p>

                    {% for oferta in data.ofertas %}
                        <p>AHORA  {{oferta.precio_oferta}} {{oferta.moneda.nombre}} </p>
                    {% else %}

                    {% endfor %}
                {% endfor %}
                </section>
                <a class="categorias" href="/subcategoria?categoria={{categoria.id_grupo_categoria}}" title="{{categoria.descripcion}}">{{categoria.descripcion}}</a>
            {% else %}
                <p>{{ categoria.descripcion }}</p>
            {% endfor %}
        </section>

{% endblock %}

{% block footer %}
    <section  class="footer1">
        <img src="img/camion.png"  class="camion">
        <p>Envío GRATIS a Capital Federal</p>
    </section>
    <section class="footer">
        <img src="img/tienda.png"  class="tienda">
        <p>Entrega estimada 8 días hábiles</p>
    </section>
{% endblock %}

