{% extends "parts/commons.twig" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="css/detalle-compra.css" />
{% endblock %}

{% block main %}

    <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" alt="volver a la pantalla anterior" onclick="window.location.replace('/miscompras');">
    <h1>Detalle compra</h1>
    <section>
        <h2>Compra número {{ data.idCompra }} </h2>
        {% for item in data.compras %}
            <h3>  {{ item.publicacion.producto.nombre }}</h3>
            <article class="compra" id="compra-{{ item.id }}">
                <p>Descripción: {{ item.publicacion.producto.descripcion }}</p>
                <p>Costo: {{ item.monto }} </p>
            </article>

        {% else %}
            <span class="sin-compras">No han encontrado productos asociados a esta compra</span>
        {% endfor %}
    </section>
{% endblock %}