{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" border="0" onclick="history.back();">
<h1>Detalles del producto</h1>

    {% for publicacion in data.public %} 

        {% for foto in publicacion.fotografias %}
            <picture>
                <img src="{{ foto.url }}" alt="{{ publicacion.producto.descripcion }}">
            </picture>
        {% endfor %}
        
        <h2>{{ publicacion.producto.nombre }}</h2>
        <p>${{ publicacion.precio_unidad }}</p>
        <a href="#" title="{{publicacion.descripcion}}">{{publicacion.descripcion}}</a>
    {% else %}

        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    
{% endblock %}