{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<h1>Categorias Generales</h1>
           
      {% for grupo_categoria in data.grupo_categorias %} 

        <a class="categorias" href="/categorias?grupo_categoria={{ grupo_categoria.id }}" title="{{grupo_categoria.descripcion}}">{{grupo_categoria.descripcion}}</a>
    {% else %}

        <span>No hay resultados en la busqueda</span>
    {% endfor %}


    <!--
    {% for grupo_categoria in data.grupo_categorias %}
    
        {% if grupo_categoria.id != data.actual.id %}
         <a href="/categoria">{{ grupo_categoria.descripcion }}</a>
               {% else %}
         <p>{{ categoria.descripcion }}</p>
        {% endif %}
    {% endfor %}
    -->
    
{% endblock %}