{% extends "parts/commons.twig" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="css/mis-compras.css" />
    <script src="/js/scripts/mis-compras.js" ></script>
{% endblock %}

{% block main %}

    <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
    <h1>Mis compras</h1>
    <section>
        {% for compra in data.compras %}
            <article id="compra-{{ compra.id }}">
                <h2>Compra número {{ compra.id }} </h2>
                <p>Gastaste: {{ compra.monto }} {{ publicacion.moneda.nombre }}</p>
                <p>Fecha: {{ compra.fechaPago }}</p>
                {% if compra.estado == 'PENDIENTE_DE_ENVIO' %}
                        <p>Su paquete está pendiente de envío</p>
                {% else %}
                        <p>Ha ocurrido un error en el estado del paquete</p>
                {% endif %}
                <button id="detalles-{{ compra.id }}">Ver detalles</button>
            </article>

        {% else %}
            <span class="sin-productos">No ha realizado ninguna compra</span>
        {% endfor %}
    </section>
{% endblock %}