{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/ofertas.css" />
{% endblock %}


{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" border="0" onclick="history.back();">
<h1 id="ofertas">¡OFERTAS!</h1>

    {% for oferta in data.ofertas %}
        <article>
            <h2>{{oferta.producto.nombre}}</h2>
            {% for foto in publicacion.fotografias %}
                <picture>
                    <img src="{{ foto.url }}" class="imagen" alt="{{ publicacion.producto.descripcion }}">
                </picture>
            {% endfor %}
            <p class="antes">ANTES  {{oferta.publicacion.precio_unidad}} {{oferta.moneda.nombre}}</p>
            <p>AHORA  {{oferta.precio_oferta}} {{oferta.moneda.nombre}}</p>
            <a href="/detalleproducto?publicacion={{ oferta.publicacion.id }}" id="verMas">Ver en Detalle</a><br>
            <a class="agregar" href="/carrito?}&producto={{ oferta.producto.id }}">Agregar</a>
            <!--cuando agregamos la oferta hay que agregar {{oferta.precio_oferta}} -->
        </article>
   
    {% else %}
        <span>No se ha encontrado detalles de la oferta</span>
    {% endfor %}
    
{% endblock %}
{% block footer %}

{% endblock %}